.order__section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.order__title {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.order__detail__title_count {
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  color: #eee;
  border-radius: 5px;
  text-align: center;
  line-height: 1.2;
  background-color: rgba(248, 65, 70, 0.9);
  padding: 3px;
}

.order__detail__title_sum {
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  color: #eee;
  border-radius: 5px;
  text-align: center;
  line-height: 1.2;
  background-color: rgba(19, 138, 53, 0.9);
  padding: 3px;
}

.order__contacts_wrap,
.order__details_wrap {
  width: 280px;
  padding: 20px;
  margin: 0 auto 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.order__details_wrap {
  max-height: 310px;
  overflow: auto;
}

.order__contacts_form {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}

.order__contacts_form_input {
  width: 100%;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 12px;
}

.order__detail__titles_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.order__detail__title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.order__detail__product_link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  color: #000;
}

.order__detail__product_item:not(:last-child) {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.order__detail__product_img {
  margin-right: 10px;
  width: 70px;
  cursor: pointer;
}

.order__detail__product_name {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.order__detail__product_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order__detail__product_price,
.order__detail__product_quantity,
.order__detail__product_sum {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.order__detail__product_aftertitle {
  font-size: 12px;
  font-family: "Fira Sans", sans-serif;
}

.order__detail__product_count {
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
}

.order__detail__product_delete {
  width: 23px;
  height: 23px;
  background-image: url(../../images/interface/delete.svg);
  cursor: pointer;
}

.order__confirm_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(97, 223, 164, 0.5);
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.order__confirm_button:hover {
  color: #eee;
  background-color: rgba(19, 138, 53, 0.9);
}

@media (min-width: 412px) {
  .order__contacts_wrap,
  .order__details_wrap {
    width: 380px;
  }

  .order__details_wrap {
    max-height: 367px;
  }

  .order__title {
    font-size: 16px;
  }

  .order__contacts_form {
    width: 340px;
  }

  .order__contacts_form_input {
    padding: 5px;
  }

  .order__detail__product_img {
    width: 90px;
  }

  .order__detail__product_aftertitle {
    font-size: 14px;
  }

  .order__detail__product_price,
  .order__detail__product_quantity,
  .order__detail__product_sum {
    padding: 5px 18px;
  }

  .order__detail__product_count {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .order__contacts_wrap,
  .order__details_wrap {
    width: 750px;
    padding: 10px;
  }

  .order__details_wrap {
    max-height: 530px;
  }

  .order__title {
    font-size: 21px;
  }

  .order__contacts_form {
    display: flex;
    justify-content: space-between;
    width: 730px;
  }

  .order__contacts_form_wrap {
    display: flex;
    justify-content: space-between;
  }

  .order__contacts_form_label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .order__contacts_form_input {
    width: 360px;
    padding: 5px;
    font-size: 13px;
  }

  .order__detail__title_count {
    min-width: 17px;
    min-height: 17px;
  }

  .order__detail__product_name {
    font-size: 14px;
  }

  .order__detail__product_aftertitle {
    font-size: 14px;
  }

  .order__detail__product_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order__detail__product_img {
    width: 100px;
  }

  .order__detail__product_price,
  .order__detail__product_quantity,
  .order__detail__product_sum {
    padding: 5px 18px;
  }

  .order__detail__product_count {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .order__contacts_wrap,
  .order__details_wrap {
    width: 990px;
    padding: 15px 25px;
  }

  .order__details_wrap {
    max-height: 615px;
  }

  .order__contacts_form {
    width: 930px;
  }

  .order__contacts_form_label {
    font-size: 16px;
  }

  .order__contacts_form_input {
    width: 455px;
    font-size: 14px;
  }

  .order__detail__title {
    font-size: 18px;
  }

  .order__detail__title_count {
    min-width: 20px;
    min-height: 20px;
    line-height: 1.12;
  }

  .order__detail__product_item {
    justify-content: space-between;
    align-items: center;
  }

  .order__detail__product_link {
    margin-bottom: 0;
    justify-content: space-around;
  }

  .order__detail__product_img {
    width: 90px;
    margin-right: 20px;
  }

  .order__detail__product_name {
    width: 450px;
    font-size: 16px;
  }

  .order__detail__product_price,
  .order__detail__product_quantity,
  .order__detail__product_sum {
    padding: 5px 15px;
  }

  .order__confirm_button {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  .order__contacts_wrap,
  .order__details_wrap {
    width: 1200px;
  }

  .order__contacts_form {
    width: 1140px;
  }

  .order__contacts_form_label {
    font-size: 18px;
  }

  .order__contacts_form_input {
    width: 560px;
    line-height: 1.7;
    font-size: 16px;
  }

  .order__detail__title_count {
    line-height: 1.14;
  }

  .order__detail__product_img {
    width: 130px;
  }

  .order__detail__product_name {
    width: 550px;
    font-size: 18px;
  }

  .order__detail__product_price,
  .order__detail__product_quantity,
  .order__detail__product_sum {
    padding: 5px 28px;
  }

  .order__detail__product_aftertitle,
  .order__detail__product_count {
    font-size: 18px;
  }
}
