.add_product {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* INPUT BLOCK */
.add_product__input_block {
  width: 555px;
}

.add_product__input_block_list {
  width: 100%;
  height: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.add_product__input {
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
}

.add_product__input_title {
  width: 367px;
  composes: add_product__input;
}

.add_product__input_category {
  width: 180px;
  composes: add_product__input;
}

.add_product__input_price {
  width: 180px;
  composes: add_product__input;
}

.add_product__input_quantity {
  width: 180px;
  composes: add_product__input;
}

/* IMAGE BLOCK */
.add_product__file_block {
  width: 330px;
}

.add_product__file_image_list {
  height: 380px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.add_product__file_image_picker {
  width: 160px;
  height: 120px;
  font-size: 24px;
  text-align: center;
  line-height: 120px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  transition: border 0.2s linear;
}

.add_product__file_image_picker:hover {
  border: 1px solid #333;
  cursor: cell;
}

.add_product__file_image_preview {
  width: 160px;
  height: 120px;
  border: 1px solid #aaa;
  border-radius: 5px;
  object-fit: cover;
}

.add_product__file_image_preview:hover {
  filter: brightness(0.4) blur(1px);
  cursor: not-allowed;
}

/* SUBMIT BUTTON */
.add_product__submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 30px;
  bottom: -44px;
  padding: 0 5px 5px;
  /* width: 300px; */
  height: 45px;
  border: none;
  border-radius: 0 0 10px 10px;
  background-color: #eee;
}

.add_product__submit_btn {
  width: 200px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-size: 20px;
  background-color: #333;
  transition: background-color 200ms linear;
  cursor: pointer;
}

.add_product__submit_btn:active {
  background-color: #666;
}
