.products__wrapper {
  padding: 16px 0 20px;
}

.products__title {
  text-align: center;
  color: #222;
  text-transform: uppercase;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.products__list_item {
  width: 130px;
}
