.modal_admin__container {
  display: none;
}

@media (min-width: 1024px) {
  .modal_admin__container {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  .modal_admin__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 924px;
    min-height: 184px;
    max-height: 624px;
    background-color: #eee;
  }

  .modal_admin__body_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    border-radius: 10px 10px 0 0;
    background-color: #333;
  }

  .modal_admin__body_title {
    color: #eee;
    font-size: 24px;
  }

  .modal_admin__button_close {
    width: 20px;
    height: 20px;
    background-image: url(../../images/interface/close-btn.svg);
    background-size: cover;
    cursor: pointer;
  }

  .modal_admin__main {
    padding: 26px 30px;
  }
}
