.availability {
  width: 150px;
  padding: 5px 10px 5px 0;
  transform: translateY(-2px);
  border-radius: 5px;
  background-color: #ddd;
}

.availability__stock {
  color: rgba(33, 165, 0, 0.925);
  font-size: 18px;
  text-align: right;
}

.availability__ends {
  color: #ff7c2f;
  font-size: 18px;
  text-align: right;
}

.availability__ended {
  color: #666;
  font-size: 18px;
  text-align: right;
}

@media (min-width: 768px) {
  .availability {
    width: 160px;
  }

  .availability__stock {
    font-size: 20px;
  }

  .availability__ends {
    font-size: 20px;
  }

  .availability__ended {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
}
