.viewed {
  width: 310px;
  margin: 0 auto;
}

.viewed__wrapper {
  position: relative;
  margin-bottom: 20px;
}

.viewed__title {
  display: block;
  padding: 0 5px;
  width: 100%;
  color: #333;
  font-size: 18px;
  margin: 0 auto 10px;
}

.viewed__list_item {
  margin: 0 auto;
  width: 150px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #ddd;
}

.viewed__list_item_img {
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
  height: 110px;
  border: solid #aaa;
  border-width: 0 0 1px 0;
  border-radius: 5px 5px 0 0;
  margin-bottom: 8px;
}

.viewed__list_item_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  padding: 0 5px;
  height: 28px;
  border-radius: 5px;
  color: #333;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.viewed__list_item_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  width: 100%;
  border-radius: 5px;
}

.viewed__list_item_price {
  display: inline-block;
  padding-right: 10px;
  position: relative;
  color: #222;
  font-size: 20px;
}

.viewed__list_item_price::after {
  content: "₴";
  display: block;
  width: 8px;
  height: 12px;
  position: absolute;
  bottom: 4px;
  right: 0px;
  font-size: 12px;
}

.viewed__list_item_favourite_wraper {
  display: flex;
  align-items: baseline;
}

.viewed__list_item_favourite {
  margin-right: 6px;
  width: 18px;
  height: 18px;
  border: none;
  outline: none;
  background-color: #ddd;
  background-image: url(../../images/interface/heart.svg);
  background-size: cover;
  cursor: pointer;
}

.viewed__list_item_btn {
  width: 18px;
  height: 18px;
  border: none;
  outline: none;
  background-color: #ddd;
  background-image: url(../../images/interface/cart-dark.svg);
  background-size: cover;
  cursor: pointer;
}

@media (max-width: 767px) {
  .viewed__list_item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .viewed {
    width: 748px;
  }

  .viewed__wrapper {
    margin-bottom: 30px;
  }

  .viewed__title {
    padding: 0 10px;
    font-size: 20px;
  }

  .viewed__title::before {
    top: 12px;
    left: 160px;
    width: 100px;
  }

  .viewed__title::after {
    top: 12px;
    right: 160px;
    width: 100px;
  }

  .viewed__list_item {
    width: 236px;
  }

  .viewed__list_item_img {
    width: 236px;
    height: 177px;
  }

  .viewed__list_item_title {
    height: 36px;
    font-size: 16px;
  }

  .viewed__list_item_price {
    font-size: 22px;
  }

  .viewed__list_item_price::after {
    bottom: 6px;
    right: 0px;
    font-size: 14px;
  }

  .viewed__list_item_favourite {
    width: 20px;
    height: 20px;
  }

  .viewed__list_item_btn {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1023px) {
  .sliders__list_item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .viewed {
    width: 990px;
  }

  .viewed__wrapper {
    margin-bottom: 40px;
  }

  .viewed__title {
    padding: 0 5px;
    font-size: 24px;
  }

  .viewed__title::before {
    top: 14px;
    left: 210px;
    width: 150px;
  }

  .viewed__title::after {
    top: 14px;
    right: 210px;
    width: 150px;
  }

  .viewed__list_item {
    width: 240px;
  }

  .viewed__list_item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 40px;
  }

  .viewed__list_item_img {
    width: 240px;
    height: 180px;
  }

  .viewed__list_item_title {
    height: 42px;
    font-size: 18px;
  }

  .viewed__list_item_price {
    font-size: 24px;
  }

  .viewed__list_item_price::after {
    bottom: 8px;
    right: 0px;
    font-size: 16px;
  }

  .viewed__list_item_favourite {
    width: 22px;
    height: 22px;
  }

  .viewed__list_item_btn {
    width: 22px;
    height: 22px;
  }
}
