.InfiniteCarouselDots {
  height: 17px !important;
  background-color: rgba(170, 170, 170, 0.5) !important;
  border-radius: 5px !important;
  transform: translate(-50%, -6px) !important;
}

.InfiniteCarouselDot {
  outline: none !important;
}

.InfiniteCarouselDotIcon {
  width: 11px !important;
  height: 11px !important;
}

.InfiniteCarouselDotActiveIcon {
  background-color: #333 !important;
}

.InfiniteCarouselArrow {
  top: 32% !important;
  height: 30px !important;
  opacity: 0.8 !important;
  background-color: #fff !important;
}

.InfiniteCarouselArrow:hover {
  opacity: 1 !important;
}

.InfiniteCarouselArrowIcon {
  padding: 6px !important;
  border: solid #aaa !important;
  border-width: 0 3px 3px 0 !important;
  transition: border 200ms linear !important;
}

.InfiniteCarouselArrowPrevIcon {
  transform: translate(4px, 2px) rotate(135deg) !important;
}

.InfiniteCarouselArrowNextIcon {
  transform: translate(-4px, 2px) rotate(-45deg) !important;
}

.InfiniteCarouselArrowPrev {
  left: 0 !important;
  border: 1px solid #aaa !important;
  border-radius: 5px !important;
}

.InfiniteCarouselArrowNext {
  right: 0 !important;
  border: 1px solid #aaa !important;
  border-radius: 5px !important;
}

@media (min-width: 768px) {
  .InfiniteCarouselArrow {
    top: 35% !important;
    height: 36px !important;
  }

  .InfiniteCarouselArrowIcon {
    padding: 8px !important;
    border-width: 0 4px 4px 0 !important;
  }

  .InfiniteCarouselArrowIcon:hover {
    border-width: 0 4px 4px 0 !important;
  }

  .InfiniteCarouselArrowPrev {
    left: 2px !important;
  }

  .InfiniteCarouselArrowNext {
    right: 2px !important;
  }

  .InfiniteCarouselArrowPrev {
    left: 0 !important;
    border: 1px solid #aaa !important;
    border-radius: 5px !important;
  }

  .InfiniteCarouselArrowNext {
    right: 0 !important;
    border: 1px solid #aaa !important;
    border-radius: 5px !important;
  }
}

@media (min-width: 1024px) {
  .InfiniteCarouselArrow {
    top: 35% !important;
    height: 42px !important;
  }

  .InfiniteCarouselArrowPrev {
    left: 0 !important;
  }

  .InfiniteCarouselArrowNext {
    right: 0 !important;
  }

  .InfiniteCarouselArrowPrev {
    left: 0 !important;
    border: 1px solid #aaa !important;
    border-radius: 5px !important;
  }

  .InfiniteCarouselArrowNext {
    right: 0 !important;
    border: 1px solid #aaa !important;
    border-radius: 5px !important;
  }
}
