@import "../fonts/fonts.css";

.sliders {
  position: relative;
  margin: 0 auto;
  width: 310px;
  min-height: 242px;
}

.sliders__wrapper {
  position: relative;
  margin-bottom: 20px;
}

.sliders__title {
  text-align: center;
  color: #333;
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
}

.sliders__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: #333;
  width: 50px;
  height: 1px;
}

.sliders__title::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #333;
  width: 50px;
  height: 1px;
}

.sliders__list_item {
  min-width: 150px;
}

.sliders__list_item_img {
  margin: 0 auto;
  object-fit: cover;
  width: 150px;
  height: 113px;
  border: 5px solid #fff;
  border-radius: 5px 5px 0 0;
}

.sliders__list_item_bottom_wrapper {
  padding: 5px 8px;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
}

.sliders__list_item_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  padding: 0 5px;
  height: 28px;
  border-radius: 5px;
  color: #333;
  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 8px;
}

.sliders__list_item_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  width: 100%;
  border-radius: 5px;
}

.sliders__list_item_price {
  display: inline-block;
  padding-right: 10px;
  position: relative;
  color: #222;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.sliders__list_item_price::after {
  content: "₴";
  display: block;
  width: 8px;
  height: 12px;
  position: absolute;
  bottom: 4px;
  right: 0px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.sliders__list_item_favourite_wraper {
  display: flex;
  align-items: baseline;
}

.sliders__list_item_favourite {
  margin-right: 6px;
  width: 18px;
  height: 18px;
  border: none;
  outline: none;
  background-color: #fff;
  background-image: url(../images/interface/heart.svg);
  background-size: cover;
  cursor: pointer;
}

.sliders__list_item_btn {
  width: 18px;
  height: 18px;
  border: none;
  outline: none;
  background-color: #fff;
  background-image: url(../images/interface/cart-dark.svg);
  background-size: cover;
  cursor: pointer;
}

@media (min-width: 360px) {
  .sliders {
    min-width: 350px;
    min-height: 260px;
  }

  .sliders__list_item_img {
    width: 170px;
    height: 127px;
  }

  .sliders__list_item_title {
    font-size: 16px;
    height: 32px;
  }

  .sliders__title::before {
    left: 40px;
  }

  .sliders__title::after {
    right: 40px;
  }
}
@media (min-width: 412px) {
  .sliders {
    min-width: 402px;
    min-height: 270px;
  }
  .sliders__list_item_img {
    width: 180px;
    height: 135px;
  }

  .sliders__list_item_title {
    height: 34px;
  }

  .sliders__title::before {
    left: 66px;
  }

  .sliders__title::after {
    right: 66px;
  }
}

@media (max-width: 767px) {
  .sliders__list_item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .sliders {
    width: 748px;
    min-height: 334px;
  }

  .sliders__wrapper {
    margin-bottom: 30px;
  }

  .sliders__title {
    font-size: 22px;
  }

  .sliders__title::before {
    top: 12px;
    left: 160px;
    width: 100px;
  }

  .sliders__title::after {
    top: 12px;
    right: 160px;
    width: 100px;
  }

  .sliders__list_item {
    width: 236px;
  }

  .sliders__list_item_img {
    width: 236px;
    height: 177px;
  }

  .sliders__list_item_title {
    height: 36px;
    font-size: 16px;
  }

  .sliders__list_item_price {
    font-size: 22px;
  }

  .sliders__list_item_price::after {
    bottom: 6px;
    right: 0px;
    font-size: 14px;
  }

  .sliders__list_item_favourite {
    width: 20px;
    height: 20px;
  }

  .sliders__list_item_btn {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1023px) {
  .sliders__list_item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .sliders {
    width: 990px;
    min-height: 359px;
  }

  .sliders__wrapper {
    margin-bottom: 40px;
  }

  .sliders__title {
    font-size: 26px;
  }

  .sliders__title::before {
    top: 14px;
    left: 210px;
    width: 150px;
  }

  .sliders__title::after {
    top: 14px;
    right: 210px;
    width: 150px;
  }

  .sliders__list_item {
    width: 240px;
  }

  .sliders__list_item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 40px;
  }

  .sliders__list_item_img {
    width: 240px;
    height: 180px;
  }

  .sliders__list_item_title {
    height: 42px;
    font-size: 18px;
  }

  .sliders__list_item_price {
    font-size: 24px;
  }

  .sliders__list_item_price::after {
    bottom: 8px;
    right: 0px;
    font-size: 16px;
  }

  .sliders__list_item_favourite {
    width: 22px;
    height: 22px;
  }

  .sliders__list_item_btn {
    width: 22px;
    height: 22px;
  }
}

@media (min-width: 1280px) {
  .sliders {
    width: 1200px;
    min-height: 359px;
  }

  .sliders__title::before {
    top: 14px;
    left: 250px;
    width: 200px;
  }

  .sliders__title::after {
    top: 14px;
    right: 250px;
    width: 200px;
  }

  .sliders__list_item {
    width: 232px;
  }
}
