.modal_sidebar__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.modal_sidebar__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #eee;
}

.modal_sidebar__button_close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal_sidebar__body {
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .modal_sidebar__container {
    display: none;
  }
}
