@import "../../fonts/fonts.css";

.view__wrapper {
  padding: 10px 0 0;
  width: 310px;
  margin: 0 auto;
  background-color: #eeeeee;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
}

.view__category {
  display: inline-block;
  padding: 2px 5px;
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.view__title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  padding: 5px 10px;
  color: #333;
  font-size: 24px;
  margin-bottom: 16px;
  word-wrap: break-word;
  border-radius: 5px;
  background-color: #eeeeee;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
}

.view_main_wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.view_preview_img_list {
  width: 100%;
  margin-bottom: 15px;
  border: 5px solid #fff;
  border-radius: 5px;
  object-fit: cover;
}

.view_preview_img_item {
  min-height: 232px;
}

.view__order_wrapper {
  margin-bottom: 20px;
  position: relative;
  width: 310px;
  height: 116px;
  padding: 15px;
  border-radius: 5px;
  background-color: #eeeeee;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
}

.view__order_price {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 2px 15px 2px 5px;
  color: #333;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.view__order_price::after {
  content: "₴";
  display: block;
  width: 8px;
  height: 12px;
  position: absolute;
  bottom: 6px;
  right: 5px;
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
}

.view__order_button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 15px;
  right: 15px;
  bottom: 15px;
  width: 280px;
  height: 40px;
  outline: none;
  border: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 200ms linear;
}

.view__order_button_buy {
  color: #eee;
  background-color: #333;
}

.view__order_button_buy:hover,
.view__order_button_buy:focus {
  color: #333;
  background-color: #eee;
}

.view__order_button_title {
  padding-left: 30px;
  width: 100%;
  line-height: 2.1;
}

.view__order_button_title::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 65px;
  background-image: url(../../images/interface/cart.svg);
}

.view__order_button_title:hover::before {
  background-image: url(../../images/interface/cart-dark.svg);
}

.view__order_button_buy:hover::before {
  background-image: url(../../images/interface/cart-dark.svg);
}

.view__order_button_in_cart {
  color: #333;
  background-color: #eee;
}

.view__order_button_in_cart::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 35px;
  background-image: url(../../images/interface/cart-dark.svg);
}

.view__order_button_under_the_order {
  color: #666;
  background-color: #eee;
}

.view__order_button_under_the_order::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 65px;
  background-image: url(../../images/interface/clock_gray.svg);
}

.view__delivery_wrapper {
  margin-bottom: 20px;
  padding: 15px;
  width: 310px;
  border-radius: 5px;
  background-color: #eeeeee;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
}

.view__delivery_title {
  color: #333;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
}

.view__delivery_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.view__delivery_list_item {
  padding-left: 40px;
  position: relative;
  border-radius: 5px;
}

.view__delivery_list_item::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2px;
  left: 0px;
  background-position: center;
  background-repeat: no-repeat;
}

.view__delivery_list_item:nth-child(1):before {
  background-image: url(../../images/products/icons/our_store.svg);
}

.view__delivery_list_item:nth-child(2):before {
  background-image: url(../../images/products/icons/novaposhta.svg);
}

.view__delivery_list_item:nth-child(3):before {
  background-image: url(../../images/products/icons/justin.svg);
}

.view__delivery_list_item_title {
  color: #333;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.view__delivery_list_item_price {
  color: #aaa;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.view__payment_info_wrapper {
  padding: 15px;
  width: 310px;
  border-radius: 5px;
  background-color: #eeeeee;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
}

.view__payment_info_block_one {
  display: block;
}

.view__payment_info_block_two {
  display: none;
}

.view__payment_info_title {
  color: #333;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
}

.view__payment_info_text {
  padding: 0 0 0 40px;
  position: relative;
  color: #333;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.view__payment_info_text::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2px;
  left: 0;
  background-image: url(../../images/products/icons/payment.svg);
}

.view__description {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #eeeeee;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
}

.view__description_title {
  color: #333;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.view__description_text {
  padding: 0 5px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  word-wrap: break-word;
}

.view__reviews_wrapper {
  margin-bottom: 30px;
  padding: 15px;
  width: 310px;
  border-radius: 5px;
  background-color: #eeeeee;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
}

.view__reviews_header_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.view__reviews_header_title {
  color: #333;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.view__reviews_header_counter {
  color: #ccc;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.view__reviews_header_add_btn {
  width: 70px;
  height: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #333;
  cursor: pointer;
  transition: all 200ms linear;
}

.view__reviews_header_add_btn:hover,
.view__reviews_header_add_btn:focus {
  color: #333;
  background-color: #eee;
}

.view__reviews_list_wrapper {
}

.view__reviews_list {
}

.view__reviews_list_item {
  padding: 2px;
  border-radius: 5px;
  background-color: #ddd;
}

.view__reviews_list_item:not(:last-child) {
  margin-bottom: 5px;
}

.view__reviews_list_item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
}

.view__reviews_list_item_name {
  display: inline-block;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.view__reviews_list_item_date {
  display: inline-block;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 16px;
}

.view__reviews_list_item_comment {
  padding: 10px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
}

@media (min-width: 360px) {
  .view__wrapper {
    width: 350px;
  }

  .view__order_wrapper {
    width: 350px;
  }

  .view__delivery_wrapper {
    width: 350px;
  }

  .view__payment_info_wrapper {
    width: 350px;
  }

  .view__reviews_wrapper {
    width: 350px;
  }

  .view__order_button {
    width: 320px;
  }

  .view__order_button_title::before {
    left: 85px;
  }
  .view__order_button_in_cart::before {
    left: 55px;
  }
}

@media (min-width: 412px) {
  .view__wrapper {
    width: 402px;
  }

  .view__order_wrapper {
    width: 402px;
  }

  .view__delivery_wrapper {
    width: 402px;
  }

  .view__payment_info_wrapper {
    width: 402px;
  }

  .view__reviews_wrapper {
    width: 402px;
  }

  .view__order_button {
    width: 372px;
  }

  .view__order_button_in_cart::before {
    left: 80px;
  }

  .view__order_button_title::before {
    left: 110px;
  }

  .view__payment_info_text::before {
    top: -8px;
  }
}

@media (min-width: 768px) {
  .view__wrapper {
    padding: 10px 0 0;
    width: 738px;
  }

  .view__category {
    font-size: 18px;
  }

  .view__title {
    font-size: 28px;
  }

  .view_main_wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 320px;
    margin-bottom: 16px;
  }

  .view_preview_img_list {
    width: 412px;
  }

  .view_preview_img_item {
    height: 309px;
    margin-bottom: 0;
  }

  .view__order_wrapper {
    margin: 0;
    height: 120px;
    width: 310px;
  }

  .view__order_price {
    font-size: 24px;
  }

  .view__order_price::after {
    height: 14px;
    bottom: 8px;
    font-size: 14px;
  }

  .view__order_button {
    font-size: 18px;
    width: 280px;
  }

  .view__order_button_title::before {
    left: 60px;
  }

  .view__order_button_buy::before {
    left: 65px;
  }

  .view__order_button_in_cart::before {
    left: 25px;
  }

  .view__order_button_under_the_order::before {
    left: 65px;
  }

  .view__delivery_wrapper {
    margin-bottom: 0;
    padding: 15px;
    width: 310px;
  }

  .view__delivery_title {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .view__delivery_list_item {
    padding-left: 40px;
  }

  .view__delivery_list_item_title {
    font-size: 18px;
  }

  .view__delivery_list_item_price {
    font-size: 16px;
  }

  .view__payment_info_wrapper {
    width: 100%;
  }

  .view__payment_info_block_one {
    display: none;
  }

  .view__payment_info_block_two {
    display: block;
    margin-bottom: 15px;
  }

  .view__payment_info_title {
    font-size: 20px;
  }

  .view__payment_info_text {
    font-size: 17px;
  }

  .view__payment_info_text::before {
    top: -8px;
  }

  .view__bottom_info_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .view__description {
    margin-bottom: 15px;
    width: 412px;
  }

  .view__description_title {
    font-size: 20px;
  }

  .view__description_text {
    font-size: 16px;
    line-height: 26px;
  }
  /* ============================================================================ */
  .view__reviews_wrapper {
    margin-bottom: 0;
    width: 100%;
  }

  .view__reviews_header_title {
    font-size: 20px;
  }

  .view__reviews_header_counter {
    font-size: 18px;
  }

  .view__reviews_header_add_btn {
    width: 80px;
    height: 24px;
    font-size: 18px;
  }

  .view__reviews_list_item {
    padding: 3px;
  }

  .view__reviews_list_item:not(:last-child) {
    margin-bottom: 10px;
  }

  .view__reviews_list_item_header {
    margin-bottom: 2px;
  }

  .view__reviews_list_item_name {
    font-size: 16px;
    line-height: 18px;
  }

  .view__reviews_list_item_date {
    font-size: 12px;
    line-height: 18px;
  }

  .view__reviews_list_item_comment {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .view__wrapper {
    width: 990px;
    padding: 10px 0 0;
  }

  .view__category {
    font-size: 20px;
  }

  .view__title {
    font-size: 32px;
  }

  .view_main_wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 500px;
    margin-bottom: 12px;
  }

  .view_preview_img_list {
    width: 662px;
  }

  .view_preview_img_item {
    height: 100%;
  }

  .view__order_wrapper {
    height: 130px;
    background-color: #eeeeee;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
  }

  .view__order_price {
    font-size: 26px;
  }

  .view__order_price::after {
    height: 16px;
    bottom: 8px;
    font-size: 16px;
  }

  .view__order_button {
    font-size: 22px;
  }

  .view__order_button_title::before {
    left: 45px;
  }

  .view__order_button_buy::before {
    width: 24px;
    height: 24px;
    top: 8px;
    left: 45px;
  }

  .view__order_button_in_cart::before {
    width: 24px;
    height: 24px;
    top: 8px;
    left: 5px;
  }

  .view__order_button_under_the_order::before {
    width: 24px;
    height: 24px;
    top: 8px;
    left: 45px;
  }

  .view__delivery_wrapper {
    padding: 10px 15px 15px;
    width: 310px;
    background-color: #eeeeee;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
  }

  .view__delivery_title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .view__delivery_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
  }

  .view__delivery_list_item {
    padding-left: 60px;
  }

  .view__delivery_list_item::before {
    width: 40px;
    height: 40px;
    top: 2px;
    left: 0px;
  }

  .view__delivery_list_item_title {
    margin-bottom: 5px;
  }

  .view__payment_info_wrapper {
    width: 310px;
    background-color: #eeeeee;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
  }

  .view__payment_info_block_one {
    display: block;
  }

  .view__payment_info_block_two {
    display: none;
  }

  .view__payment_info_title {
    font-size: 22px;
  }

  .view__payment_info_text {
    padding: 0 0 0 60px;
  }

  .view__payment_info_text::before {
    width: 40px;
    height: 40px;
    top: 0;
  }

  .view__bottom_info_wrapper {
    margin-bottom: 40px;
    background-color: #eeeeee;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
  }

  .view__description {
    width: 662px;
  }

  .view__description_title {
    font-size: 22px;
  }

  .view__description_text {
    font-size: 18px;
    line-height: 28px;
  }
  /* ============================================================================ */
  .view__reviews_wrapper {
    width: 100%;
    background-color: #eeeeee;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
  }

  .view__reviews_header_title {
    font-size: 22px;
  }

  .view__reviews_header_counter {
    font-size: 20px;
  }

  .view__reviews_header_add_btn {
    width: 100px;
    height: 28px;
    font-size: 18px;
  }

  .view__reviews_list_item {
    padding: 4px;
  }

  .view__reviews_list_item:not(:last-child) {
    margin-bottom: 12px;
  }

  .view__reviews_list_item_header {
    margin-bottom: 3px;
  }

  .view__reviews_list_item_name {
    font-size: 18px;
    line-height: 24px;
  }

  .view__reviews_list_item_date {
    font-size: 14px;
    line-height: 20px;
  }

  .view__reviews_list_item_comment {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .view__wrapper {
    width: 1200px;
  }

  .view_main_wrapper {
    height: 564px;
    margin-bottom: 20px;
  }

  .view_preview_img_list {
    width: 752px;
  }

  .view__order_wrapper {
    width: 430px;
    height: 160px;
  }

  .view__order_price {
    font-size: 30px;
  }

  .view__order_price::after {
    height: 16px;
    bottom: 8px;
    font-size: 16px;
  }

  .view__order_button {
    width: 400px;
    height: 50px;
    font-size: 24px;
  }

  .view__order_button_title::before {
    left: 85px;
    top: 12px;
    width: 25px;
    height: 25px;
  }

  .view__order_button_buy::before {
    width: 28px;
    height: 28px;
    top: 10px;
    left: 95px;
  }

  .view__order_button_in_cart::before {
    width: 28px;
    height: 28px;
    top: 10px;
    left: 40px;
  }

  .view__order_button_under_the_order::before {
    width: 28px;
    height: 28px;
    top: 10px;
    left: 95px;
  }

  .view__delivery_wrapper {
    padding: 10px 15px 15px;
    width: 430px;
  }

  .view__delivery_title {
    font-size: 24px;
  }

  .view__delivery_list {
    height: 160px;
  }

  .view__delivery_list_item {
    padding-left: 60px;
  }

  .view__delivery_list_item_title {
    font-size: 20px;
  }

  .view__delivery_list_item_price {
    font-size: 18px;
  }

  .view__delivery_list_item::before {
    width: 40px;
    height: 40px;
    top: 2px;
    left: 0px;
  }

  .view__payment_info_wrapper {
    padding: 10px 15px;
    width: 430px;
    height: 140px;
    border-radius: 5px;
    background-color: #eeeeee;
  }

  .view__payment_info_title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .view__payment_info_text {
    padding: 0 0 0 60px;
    position: relative;
    color: #333;
    font-size: 20px;
  }

  .view__payment_info_text::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 4px;
    left: 0;
    background-image: url(../../images/products/icons/payment.svg);
  }

  .view__description {
    width: 752px;
  }

  .view__description_title {
    font-size: 24px;
  }

  .view__description_text {
    font-size: 20px;
    line-height: 30px;
  }
  /* ============================================================================ */
  .view__reviews_wrapper {
    width: 100%;
  }

  .view__reviews_header_title {
    font-size: 24px;
  }

  .view__reviews_header_counter {
    font-size: 22px;
  }

  .view__reviews_header_add_btn {
    width: 120px;
    height: 30px;
    font-size: 20px;
  }

  .view__reviews_list_item {
    padding: 5px;
  }

  .view__reviews_list_item:not(:last-child) {
    margin-bottom: 15px;
  }

  .view__reviews_list_item_header {
    margin-bottom: 4px;
  }

  .view__reviews_list_item_name {
    font-size: 19px;
    line-height: 22px;
  }

  .view__reviews_list_item_date {
    font-size: 16px;
    line-height: 22px;
  }

  .view__reviews_list_item_comment {
    font-size: 18px;
  }
}
