.view__wrapper {
  padding: 16px 0 0;
  width: 310px;
  margin: 0 auto;
}

.view__category {
  padding: 0 5px;
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}

.view__title {
  padding: 0 5px;
  color: #333;
  font-size: 24px;
  margin-bottom: 16px;
  word-wrap: break-word;
}

.view_main_wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.view_preview_img {
  width: 100%;
  height: 232px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 6px;
}

.view__image_picker_wrapper {
  display: flex;
  justify-content: space-between;
  height: 33px;
  margin-bottom: 20px;
}

.view__image_picker_item {
  width: 44px;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.view__order_wrapper {
  position: relative;
  height: 116px;
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin-bottom: 20px;
}

.view__order_price {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 2px 15px 2px 5px;
  color: #333;
  font-size: 22px;
  border-radius: 5px;
  background-color: #ddd;
}

.view__order_price::after {
  content: "₴";
  display: block;
  width: 8px;
  height: 12px;
  position: absolute;
  bottom: 6px;
  right: 5px;
  font-size: 12px;
}

.view__order_buy {
  position: absolute;
  left: 15px;
  rigth: 15px;
  bottom: 15px;
  width: 278px;
  height: 40px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  background-color: #333;
  cursor: pointer;
  transition: background-color 200ms linear;
}

.view__order_buy:active {
  background-color: #666;
}

.view__delivery_wrapper {
  padding: 5px 15px 15px;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.view__delivery_title {
  color: #333;
  font-size: 18px;
  margin-bottom: 15px;
  padding-left: 5px;
}

.view__delivery_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 166px;
}

.view__delivery_list_item {
  padding-left: 40px;
  border-radius: 5px;
  background-color: #ddd;
}

.view__delivery_list_item_title {
  color: #333;
  font-size: 16px;
}

.view__delivery_list_item_price {
  color: #aaa;
  font-size: 14px;
}

.view__description {
  padding: 0 5px;
  margin-bottom: 20px;
}

.view__description_title {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.view__description_title_prod {
  color: #aaa;
  font-size: 18px;
  font-weight: 400;
  word-wrap: break-word;
}

.view__description_text {
  padding: 0 5px;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .view__wrapper {
    padding: 26px 0 0;
    width: 738px;
  }

  .view__category {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .view__title {
    font-size: 28px;
  }

  .view_main_wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 351px;
    margin-bottom: 30px;
  }

  .view_preview_img {
    width: 400px;
    height: 300px;
    margin-bottom: 0;
  }

  .view__image_picker_wrapper {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 45px;
    margin: 0;
  }

  .view__image_picker_item {
    width: 60px;
    height: 100%;
  }

  .view__order_wrapper {
    margin: 0;
  }

  .view__order_price {
    font-size: 24px;
  }

  .view__order_price::after {
    height: 14px;
    bottom: 8px;
    font-size: 14px;
  }

  .view__order_buy {
    width: 292px;
    font-size: 18px;
  }

  .view__delivery_title {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .view__delivery_list_item {
    padding-left: 50px;
  }

  .view__delivery_list_item_title {
    font-size: 18px;
  }

  .view__delivery_list_item_price {
    font-size: 16px;
  }

  .view__description {
    width: 400px;
    margin-bottom: 30px;
  }

  .view__description_title {
    font-size: 20px;
  }

  .view__description_title_prod {
    font-size: 20px;
  }

  .view__description_text {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (min-width: 1024px) {
  .view__wrapper {
    width: 990px;
    padding: 26px 0 0;
  }

  .view__category {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .view__title {
    font-size: 32px;
  }

  .view_main_wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 413px;
    margin-bottom: 40px;
  }

  .view_preview_img {
    width: 550px;
    height: 100%;
  }

  .view__image_picker_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 74px;
    height: 100%;
  }

  .view__image_picker_item {
    width: 100%;
    height: 55px;
  }

  .view__order_wrapper {
    height: 130px;
    border: 1px solid #aaa;
  }

  .view__order_price {
    font-size: 26px;
  }

  .view__order_price::after {
    height: 16px;
    bottom: 8px;
    font-size: 16px;
  }

  .view__order_buy {
    width: 303px;
    font-size: 22px;
  }

  .view__delivery_wrapper {
    padding: 10px 15px 15px;
  }

  .view__delivery_title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .view__delivery_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }

  .view__delivery_list_item {
    padding-left: 60px;
  }

  .view__delivery_list_item_title {
    margin-bottom: 5px;
  }

  .view__description {
    width: 640px;
    margin-bottom: 40px;
  }

  .view__description_title {
    font-size: 24px;
  }

  .view__description_title_prod {
    font-size: 22px;
  }

  .view__description_text {
    font-size: 18px;
    line-height: 28px;
  }
}
