.container {
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  background-color: #ddd;
  padding-bottom: 132px;
}

@media (min-width: 768px) {
  .container {
    padding-bottom: 67px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-bottom: 71px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-bottom: 71px;
  }
}
