.modal_basket__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.modal_basket__body {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  border-radius: 20px 0 0 20px;
  background-color: #eee;
}

.modal_basket__button_close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal_basket__body {
    width: 400px;
  }
}

@media (max-width: 1023px) {
  .modal_basket__button_close {
    left: 15px;
  }
}

@media (min-width: 1024px) {
  .modal_basket__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 924px;
    height: 524px;
    background-color: #eee;
  }

  .modal_basket__button_close {
    right: 15px;
  }
}
