.modal_cart__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.modal_cart__body {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #eee;
}

.modal_cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 50px;
  background-color: #333;
}

.modal_cart__button_close {
  width: 20px;
  height: 20px;
  background-image: url(../../images/interface/close-btn.svg);
  background-size: cover;
  cursor: pointer;
}

.modal_cart__modal_title {
  color: #eee;
  font-size: 20px;
}

.modal_cart__list {
  overflow: auto;
  max-height: calc(100% - 130px);
  margin-bottom: 10px;
  padding: 16px 15px 0;
}

.modal_cart__list_item {
  display: flex;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #ddd;
}

.modal_cart__list_item:not(:last-child) {
  margin-bottom: 8px;
}

.modal_cart__list_item_img {
  width: 100px;
  height: 75px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.modal_cart__list_item_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
  padding: 5px;
}

.modal_cart__list_item_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  width: 158px;
  max-height: 28px;
  color: #333;
  font-size: 13px;
  font-weight: 400;
  word-wrap: break-word;
}

.modal_cart__list_item_input {
  width: 36px;
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.modal_cart__list_item_price {
  position: relative;
  padding-right: 10px;
  color: #333;
  font-size: 20px;
}

.modal_cart__list_item_price::after {
  content: "₴";
  display: block;
  width: 8px;
  height: 12px;
  position: absolute;
  bottom: 4px;
  right: 0px;
  font-size: 12px;
}

.modal_cart__receipt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px 10px;
  width: 270px;
  height: 60px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.modal_cart__receipt_total {
  position: relative;
  padding-right: 10px;
  color: #333;
  font-size: 24px;
}

.modal_cart__receipt_total::after {
  content: "₴";
  display: block;
  width: 8px;
  height: 14px;
  position: absolute;
  bottom: 4px;
  right: 0px;
  font-size: 14px;
}

.modal_cart__receipt_submit {
  width: 140px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #eee;
  background-color: #333;
  cursor: pointer;
  transition: background-color 200ms linear;
}

.modal_cart__receipt_submit:active {
  background-color: #666;
}

@media (min-width: 768px) {
  .modal_cart__body {
    width: 400px;
  }
}

@media (max-width: 1023px) {
  .modal_cart__button_close {
    left: 15px;
  }
}

@media (min-width: 1024px) {
  .modal_cart__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 924px;
    height: 524px;
    background-color: #eee;
  }

  .modal_cart__button_close {
    right: 15px;
  }
}
