.admin_catalogs__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.admin_catalogs__list_wrapper {
  padding-bottom: 10px;
  width: 260px;
}

.admin_catalogs__list {
  margin-bottom: 10px !important;
  padding: 0 !important;
}

.admin_catalogs__list_subheader {
  height: 40px;
}

.admin_catalogs__item {
}

.admin_catalogs__item_text {
  text-align: center;
}
