.footer {
  padding: 15px 0;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #333;
  z-index: 9;
}

.footer__wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__help_list {
  transform: translateX(-70px);
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.footer__help_list_item {
  width: 65px;
  text-align: center;
}

.footer__help_list_item_link {
  display: block;
  color: #eee;
  font-size: 12px;
}

.footer__help_list_item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 5px;
}

.footer__working_wrapper {
  position: absolute;
  top: 0;
  transform: translateX(80px);
  color: #eee;
  text-align: center;
  margin-bottom: 15px;
}

.footer__working_title {
  font-size: 12px;
  margin-bottom: 5px;
}

.footer__working_desc {
  font-size: 12px;
}

.footer__copyright {
  text-align: center;
  color: #eee;
  font-size: 10px;
}

@media (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .footer__help_list {
    transform: none;
    width: 160px;
    margin-bottom: 0;
  }

  .footer__help_list_item {
    width: 80px;
  }

  .footer__help_list_item_link {
    font-size: 14px;
  }

  .footer__working_wrapper {
    position: static;
    transform: none;
    margin-bottom: 0;
  }

  .footer__working_title {
    font-size: 14px;
  }

  .footer__working_desc {
    font-size: 14px;
    margin-bottom: 0;
  }

  .footer__copyright {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .footer__wrapper {
    width: 1004px;
  }

  .footer__help_list {
    width: 200px;
  }

  .footer__help_list_item {
    width: 100px;
  }

  .footer__help_list_item_link {
    font-size: 16px;
  }

  .footer__working_title {
    font-size: 16px;
  }

  .footer__working_desc {
    font-size: 16px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
