.footer {
  padding-top: 20px;
  background-color: #333;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__help_wrapper {
  color: #eee;
  text-align: center;
  margin-bottom: 20px;
}

.footer__help_list {
  width: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__help_list_item {
  width: 85px;
  font-size: 12px;
}

.footer__help_list_item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 6px;
}

.footer__working_wrapper {
  width: 170px;
  color: #eee;
  text-align: center;
  margin-bottom: 20px;
}

.footer__working_title {
  font-size: 16px;
  margin-bottom: 5px;
}

.footer__working_desc {
  font-size: 12px;
  margin-bottom: 6px;
}

.footer__copyright {
  text-align: center;
}

.footer__copyright_text {
  color: #eee;
  font-size: 10px;
  line-height: 40px;
}

@media (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer__help_wrapper {
    margin-bottom: 0;
  }

  .footer__help_list {
    width: 195px;
  }

  .footer__help_list_item {
    width: 97px;
    font-size: 14px;
  }

  .footer__working_wrapper {
    width: 195px;
    order: 3;
    margin-bottom: 0;
  }

  .footer__working_title {
    font-size: 18px;
  }

  .footer__working_desc {
    font-size: 14px;
    margin-bottom: 0;
  }

  .footer__copyright_text {
    font-size: 12px;
    line-height: 50px;
  }
}

@media (min-width: 1200px) {
  .footer__help_list {
    width: 220px;
  }

  .footer__help_list_item {
    width: 110px;
    font-size: 16px;
  }

  .footer__working_wrapper {
    width: 220px;
  }

  .footer__working_title {
    font-size: 20px;
  }

  .footer__working_desc {
    font-size: 16px;
  }

  .footer__copyright_text {
    font-size: 14px;
    line-height: 60px;
  }
}
