.products__wrapper {
  padding: 16px 0 20px;
  width: 300px;
  margin: 0 auto;
}

.products__title {
  display: block;
  width: 300px;
  text-align: center;
  color: #333;
  font-size: 26px;
  text-transform: uppercase;
  margin: 0 auto 20px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
}

.products__list_item {
  width: 145px;
  text-align: center;
}

.products__list_item_img {
  object-fit: cover;
  width: 100%;
  height: 110px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.products__list_item_img:hover {
  transform: scale(1.02);
}

.products__list_item_title {
  display: inline-block;
  color: #333;
  font-size: 16px;
  margin-bottom: 5px;
  cursor: pointer;
}

.products__list_item_price {
  color: #222;
  font-size: 14px;
  margin-bottom: 5px;
}

.products__list_item_btn {
  width: 80px;
  height: 20px;
  border: none;
  border-radius: 15px;
  outline: none;
  color: #eee;
  font-size: 11px;
  background-color: #333;
  cursor: pointer;
}

.products__list_item_btn:hover,
.products__list_item_btn:focus {
  border: 2px solid #333;
  color: #333;
  background-color: #eee;
}

.products__pagination {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .products__list_item:not(:nth-child(2n)) {
    margin-right: 10px;
  }

  .products__list_item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .products__wrapper {
    padding: 26px 0 30px;
    width: 738px;
  }

  .products__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .products__list_item {
    width: 236px;
  }

  .products__list_item_img {
    width: 100%;
    height: 177px;
  }

  .products__list_item_title {
    font-size: 18px;
  }

  .products__list_item_price {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .products__list_item_btn {
    width: 100px;
    height: 20px;
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .products__list_item:not(:nth-child(3n)) {
    margin-right: 15px;
  }

  .products__list_item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .products__wrapper {
    width: 990px;
    padding: 36px 0 40px;
  }

  .products__title {
    font-size: 34px;
    margin-bottom: 40px;
  }

  .products__list_item {
    width: 240px;
  }

  .products__list_item:not(:nth-child(4n)) {
    margin-right: 10px;
  }

  .products__list_item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 40px;
  }

  .products__list_item_img {
    width: 100%;
    height: 180px;
  }

  .products__list_item_title {
    font-size: 22px;
  }

  .products__list_item_price {
    font-size: 18px;
  }

  .products__list_item_btn {
    width: 100px;
    height: 24px;
    font-size: 15px;
  }
}
